{% extends 'base.html.twig' %}

{% block title %}Modifie mon mot de passe -{% endblock %}

{% block content %}
<h1>Modifié mon mot de passe</h1>
<a href="{{path('app_account') }}"> Retourner à mon compte</a><br/>
<hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>

{% endif %}
{{ form(form) }}
<hr>

{% endblock %}
